.contents.row
  %p
    = @nickname
    さんの投稿一覧
  - @posts.each do |post|
    -# = render partial: "posts/post", locals: { post: post }

.contents.row 
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    現在開発途中です。
  %p
    ※※現在開発途中のため、ページは空欄になっております。
  %p
    -# ※※投稿内容及びコメントを実装
