.container.pt-5
  .container
    %h2.pt-5.mb-5.text-center.font-weight-bold
      = @nickname
      さんの投稿一覧
  %main
    .album.py-5.bg-light
      .container
        .row.d-flex.justify-content-center
          - @posts.each do |post|
            = render partial: "posts/post", locals: { post: post }

    = paginate @kaminari

= render partial: "posts/footer-index"
