%footer.bg-light.mt-5
  .container
    .row.d-flex.justify-content-center
      %h3.font-weight-bold
        %a.text-secondary.text-decoration-none{:href => "/"} Comfy
      .w-100
      %p.text-secondary Created and maintained by kuriken.
