.container.mt-5.bg-light.d-flex.flex-column.justify-content-center.align-items-center.my-5
  .contents.row.pb-5.pt-5
    .success
      %h3.mb-4 Post has been completed.
      %a.pl-4.ml-5.btn.btn-lg.btn-warning{:href => "/"} Return to Top page.
= render "footer"
