.container.mt-5.bg-light.d-flex.flex-column.justify-content-center.align-items-center.my-5
  .contents.row.pb-5.pt-5
    .success
      %h2.mb-5 更新が完了しました。
      %a.ml-5.mt-3.btn.btn-lg.btn-warning{:href => "/"}トップページへ戻る
= render partial: "footer"
