@import "bootstrap";

.pagination {
  justify-content: center;
}

.post {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.log {
  display: flex;
  justify-content: center;
  width: 100%;
}
